<%= form_with(model: lecture, local: true) do |form| %>
  <% if lecture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lecture.errors.count, "error") %> prohibited this lecture from being saved:</h2>

      <ul>
      <% lecture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p>授業名：<%= lecture.class_name %></p>
  
  <p>科目番号：<%= lecture.class_id %></p>
  
  <div class="field">
    <%= form.label :evaluation, "単位取得条件・成績評価基準" %>
    <%= form.text_field :evaluation, id: :lecture_evaluation %>
  </div>


  <p>年次：<%= lecture.grade %></p>

  <p>学期：<%= lecture.module %></p>

  <div class="field">
    <%= form.label :department, "開設学類"%>
    <%= form.text_field :department, id: :lecture_department %>
  </div>

  <p>教室：<%= lecture.room %></p>

  <p>曜時限：<%= lecture.period %></p>

  <div class="field">
    <%= form.label :attendance, "出席方法" %>
    <%= form.text_field :attendance, id: :lecture_attendance %>
  </div>

  <p>担当：<%= lecture.professer %></p>

  <div class="field">
    <%= form.label :class_kind, "科目区分" %>
    <%= form.text_field :class_kind, id: :lecture_class_kind %>
  </div>
  
  <p>授業方法：<%= lecture.form %></p>

  <p>単位：<%= lecture.unit %></p>  
  
  <p>概要：<%= lecture.contents %></p>
  
  <p>備考：<%= lecture.remarks %></p>

  <p>科目名（英訳）：<%= lecture.e_name %></p>

  
  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
