<%= form_with(model: lecture, local: true) do |form| %>
  <% if lecture.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lecture.errors.count, "error") %> prohibited this lecture from being saved:</h2>

      <ul>
      <% lecture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :class_name %>
    <%= form.text_field :class_name, id: :lecture_class_name %>
  </div>

  <div class="field">
    <%= form.label :class_id %>
    <%= form.text_field :class_id, id: :lecture_class_id %>
  </div>

  <div class="field">
    <%= form.label :evaluation %>
    <%= form.text_field :evaluation, id: :lecture_evaluation %>
  </div>

  <div class="field">
    <%= form.label :grade %>
    <%= form.text_field :grade, id: :lecture_grade %>
  </div>

  <div class="field">
    <%= form.label :module %>
    <%= form.text_field :module, id: :lecture_module %>
  </div>

  <div class="field">
    <%= form.label :department %>
    <%= form.text_field :department, id: :lecture_department %>
  </div>

  <div class="field">
    <%= form.label :room %>
    <%= form.text_field :room, id: :lecture_room %>
  </div>

  <div class="field">
    <%= form.label :day %>
    <%= form.text_field :day, id: :lecture_day %>
  </div>

  <div class="field">
    <%= form.label :period %>
    <%= form.text_field :period, id: :lecture_period %>
  </div>

  <div class="field">
    <%= form.label :attendance %>
    <%= form.text_field :attendance, id: :lecture_attendance %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
