<p id="notice"><%= notice %></p>

<h1>検索結果</h1>

<table>
  <thead>
    <tr>
      <th>授業名</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <%= will_paginate %>
  <tbody>
    <% @lectures.each do |lecture| %>
      <tr>
          <td width="200"><%= lecture.class_name %></td>
          <td width="150"><%= lecture.class_id %></td>
          <td width="600"><%= lecture.contents %></td>
          <td width="150"><%= lecture.grade %></td>
          <td width="100"><%= lecture.module %></td>
          <td width="100"><%= lecture.room %></td>
          <td width="100"><%= lecture.period %></td>
          <td width="200"><%= lecture.professer %></td>
          <td width="200"><%= lecture.unit %></td>
          <td width="200"><%= link_to '詳細&コメント', lecture %></td>
          <td width="100"><%= link_to '編集', edit_lecture_path(lecture) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
