<p id="notice"><%= notice %></p>

<h1>検索結果</h1>

<table>
  <thead>
    <tr>
      <th>授業名</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <%= will_paginate %>
  <tbody>
    <% @lectures.each do |lecture| %>
      <tr>
        <td width="200"><%= lecture.class_name %></td>
        <td><%= link_to '詳細&コメント', lecture %></td>
        <td><%= link_to '編集', edit_lecture_path(lecture) %></td>
        <td><%= link_to '削除', lecture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'New Lecture', new_lecture_path %>
