<% content_for :title do %>言伝-検索結果-<% end %>

<p id="notice"><%= notice %></p>

<h1><a href="https://kotozute.herokuapp.com">言伝~Kotozute~</a></h1>

<h2>検索結果</h2>

<tbody>
<%= form_tag lectures_path, :method => 'get' do %>
    <p>
      科目名<%= text_field_tag 'name_search' %>
      <%= submit_tag "検索", :name => nil %>
    </p>
  <% end %>


  <%= yield %>

</tbody>

<table class="search_result" border="1">
  <thead>
    <tr>
      <th bgcolor="white">授業名</th>
      <th bgcolor="white">科目番号</th>
      <th bgcolor="white">概要</th>
      <th bgcolor="white">年次</th>
      <th bgcolor="white">学期</th>
      <th bgcolor="white">教室</th>
      <th bgcolor="white">曜時限</th>
      <th bgcolor="white">担当</th>
      <th bgcolor="white">単位数</th>
      <th colspan="3"></th>
    </tr>
  </thead>
  <%= will_paginate %>
  <tbody>
    <% @lectures.each do |lecture| %>
      <tr>
          <td width="200"><%= link_to lecture.class_name, lecture_path(lecture) %></td>
          <td width="150"><%= lecture.class_id %></td>
          <td width="600"><%= lecture.contents %></td>
          <td width="150"><%= lecture.grade %></td>
          <td width="100"><%= lecture.module %></td>
          <td width="100"><%= lecture.room %></td>
          <td width="100"><%= lecture.period %></td>
          <td width="300"><%= lecture.professer %></td>
          <td width="200"><%= lecture.unit %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
