

<h1>言伝 -Kotozute-</h1>

<tbody>
<%= form_tag lectures_path, :method => 'get' do %>
    <p>
      科目名<%= text_field_tag 'name_search' %><br>
      モジュール<%= text_field_tag 'module_search' %>
      <%= submit_tag "検索", :name => nil %>
    </p>
  <% end %>


  <%= yield %>

</tbody>
