<!doctype html>
<html lang="ja">

<head>
<meta charset="UTF-8";>
<link rel="stylesheet" href="asset/stylesheets/style.scss">
</head>

<body>
<%#
<div id="branding">
  <p> 「自由単としてどの講義を履修するか迷う」を解決したい 履修登録期間中の筑波大生向けの授業検索アプリです。</p>
  <p>実際にその授業を受けた人からの情報をもとに自由単を見つけることができます。</p>
</div>
%>

<nav>
  <ul style="list-style:none">
    <li><a href="#">ホーム</a></li>

    <li><a href="static_pages/help">ヘルプ</a></li>
    <li><a href="users/sign_up">アカウント登録</a></li>
    <li><a href="users/sign_in">ログイン</a></li>

  </ul>
</nav>


<tbody>
<!--
<%= form_tag lectures_path, :method => 'get' do %>
    <p>
      タグ<%= text_field_tag 'tag_search' %>
      <%= submit_tag "検索", :name => nil %>
      <br>
  <% end %>
<%= yield %>
-->
<%= form_tag lectures_path, :method => 'get' do %>
    <p>
    タグ<%= text_field_tag 'tag_search' %>
    <br>
    <p>
      科目名<%= text_field_tag 'name_search' %>
      <%= submit_tag "検索", :name => nil %>
      <br>
      モジュール
      <%= select_tag 'module_search', options_for_select([["春A", "春A"], ["春B", "春B"], ["春C", "春C"], ["夏季休業中", "夏季休業中"],["秋A", "秋B"], ["秋C", "秋C"], ["春季休業中", "春季休業中"]]), :prompt => "選択なし" %>
      年次
      <%= select_tag 'grade_search', options_for_select([["1", "1"], ["2", "2"], ["3", "3"], ["4", "4"], ["5", "5"], ["6", "6"]]), :prompt => "選択なし" %>

      <br>
      曜日
      <%= select_tag 'day_search', options_for_select([["月", "月"], ["火", "火"], ["水", "水"], ["木", "木"], ["金", "金"], ["土", "土"],["日", "日"],["集中","集中"],["応談","応談"],["随時","随時"]]), :prompt => "選択なし" %>


      時限
      <%= select_tag 'period_search', options_for_select([["1", "1"], ["2", "2"], ["3", "3"], ["4", "4"], ["5", "5"], ["6", "6"],["7", "7"],["8","8"]]), :prompt => "選択なし" %>
    </p>
<% end %>
<%= yield %>



</tbody>

</body>
</html>
