<p id="notice"><%= notice %></p>

<p>
  <strong>Class name:</strong>
  <%= @lecture.class_name %>
</p>

<p>
  <strong>Class:</strong>
  <%= @lecture.class_id %>
</p>

<p>
  <strong>Evaluation:</strong>
  <%= @lecture.evaluation %>
</p>

<p>
  <strong>Grade:</strong>
  <%= @lecture.grade %>
</p>

<p>
  <strong>Module:</strong>
  <%= @lecture.module %>
</p>

<p>
  <strong>Department:</strong>
  <%= @lecture.department %>
</p>

<p>
  <strong>Room:</strong>
  <%= @lecture.room %>
</p>


<p>
  <strong>Period:</strong>
  <%= @lecture.period %>
</p>

<p>
  <strong>Attendance:</strong>
  <%= @lecture.attendance %>
</p>

<%= link_to 'Edit', edit_lecture_path(@lecture) %> 

<% if @lecture.user_voices.any? %>
  <% @user_voice.each do |user_voice| %>
    <p>
      <strong>コメント:</strong>
      <td><%= user_voice.comment %></td>
    </p>
    <p>
      <strong>満足度:</strong>
      <td><%= user_voice.satisfaction %></td>
    </p>
    <% @user_id = {:lecture_id => @lecture.id, :user_voice_id => user_voice.id} %>
    <td><%= link_to 'Destroy', lecture_user_voice_path(@user_id) , method: :delete, data: { confirm: 'Are you sure?' } %></td>
  <% end %>
<% end %>

<%= link_to 'New comment', new_lecture_user_voice_path(@lecture) %>

<%= link_to 'Back', lectures_path %>
