<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @lecture.name %>
</p>

<p>
  <strong>Contents:</strong>
  <%= @lecture.contents %>
</p>

<%= link_to 'Edit', edit_lecture_path(@lecture) %> |
<%= link_to 'Back', lectures_path %>
