<p id="notice"><%= notice %></p>

<body>
  <div>
    <h2><%= @lecture.class_name %><h2>
  </div>

  <div class="center" id="class_detail">
    <p>授業情報　<%= link_to '(編集)', edit_lecture_path(@lecture) %> </p>
    <table border="1" width="90%">
      <tr>
        <td width="17%"><strong>科目名</strong></td>
        <td width="73%"><%= @lecture.class_name %></td>
      </tr>
      <tr>
        <td><strong>科目番号</strong></td>
        <td><%= @lecture.class_id %></td>
      </tr>
      <tr>
        <td><strong>評価方法</strong></td>
        <td><%= @lecture.evaluation %></td>
      </tr>
      <tr>
        <td><strong>年次</strong></td>
        <td><%= @lecture.grade %></td>
      </tr>
      <tr>
        <td><strong>学期</strong></td>
        <td><%= @lecture.module %></td>
      </tr>
      <tr>
        <td><strong>開設学類</strong></td>
        <td><%= @lecture.department %></td>
      </tr>
      <tr>
        <td><strong>教室</strong></td>
        <td><%= @lecture.room %></td>
      </tr>
      <tr>
        <td><strong>曜時限</strong></td>
        <td><%= @lecture.period %></td>
      </tr>
      <tr>
        <td><strong>出席方法</strong></td>
        <td><%= @lecture.attendance %></td>
      </tr>
      <tr>
        <td><strong>担当</strong></td>
        <td><%= @lecture.professer %></td>
      </tr>
      <tr>
        <td><strong>科目区分</strong></td>
        <td><%= @lecture.class_kind %></td>
      </tr>
      <tr>
        <td><strong>授業方法</strong></td>
        <td><%= @lecture.form %></td>
      </tr>
      <tr>
        <td><strong>単位</strong></td>
        <td><%= @lecture.unit %></td>
      </tr>
      <tr>
        <td><strong>概要</strong></td>
        <td><%= @lecture.contents %></td>
      </tr>
      <tr>
        <td><strong>備考</strong></td>
        <td><%= @lecture.remarks %></td>
      </tr>
      <tr>
        <td><strong>科目名(英訳)</strong></td>
        <td><%= @lecture.e_name %></td>
      </tr>
    </table>

  </div>

  <div id="class_comment">
    <% if @lecture.user_voices.any? %>
      <% sum = 0 %>
      <% num = 0 %>
      <% @user_voice.each do |user_voice| %>
        <% man = user_voice.satisfaction %>
        <% sum = sum + man %>
        <% if user_voice.satisfaction != 0 %>
          <% num = num + 1 %>
        <% end %>
      <% end %>

      <% if num != 0 %>
        <% ave = sum.to_f / num %>
      <% else %>
        <% ave = sum %>
      <% end %>

      <% star = 100 * ave.round(2) / 5 %>
      <p>
        <strong>平均満足度</strong>
        <div class="star-rating">
          <div class="star-rating-front" style="width: <%= star.round(2) %>%">★★★★★</div>
          <div class="star-rating-back">★★★★★</div>
        </div>
      </p>

    <% end %>
    <%= link_to '新しい言伝（授業満足度・コメント）を残す', new_lecture_user_voice_path(@lecture) %>
    <% if @lecture.user_voices.any? %>
      <table border="1" width="100%">
      <% @user_voice.each_with_index do |user_voice,i| %>
        <tr>
          <td width="5%"><%= i+1 =%></td>
          <td width="85%"><%= user_voice.comment %></td>
          <% if user_voice.satisfaction == 0 %>
            <td width="10%">--</td>
          <% else %>
            <% user_star = 100 * user_voice.satisfaction.to_f / 5 %>
            <td width="10%">
              <div class="star-rating">
                <div class="star-rating-front" style="width: <%= user_star.round(2) %>%">★★★★★</div>
                <div class="star-rating-back">★★★★★</div>
              </div>
            </td>
          <% end %>

          <% @user_id = {:lecture_id => @lecture.id, :user_voice_id => user_voice.id} %>
          <td width="10%"><%= link_to 'Destroy', lecture_user_voice_path(@user_id) , method: :delete, data: { confirm: 'Are you sure?' } %></td>
        </tr>
      <% end %>
      </table>
    <% end %>

    <hr>
    <div><%= link_to '検索結果一覧に戻る', :back %></div><br>
  </div>
</body>
