<%= form_with(model: user_voice, url: lecture_user_voices_path, local: true) do |form| %>
    <% if user_voice.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(user_voice.errors.count, "error") %> prohibited this user_voice from being saved:</h2>
  
        <ul>
        <% user_voice.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>


    <div class="field">
      <%= form.label :comment %>
      <%= form.text_field :comment, id: :user_voice_comment %>
    </div>
  
    <div class="field">
      <%= form.label :satisfaction %>
      <%= form.text_field :satisfaction, id: :user_voice_satisfaction %>
    </div>
  
    <div class="actions">
      <%= form.submit %>
    </div>
  <% end %>
  