<%= form_with(model: user_voice, url: lecture_user_voices_path, local: true) do |form| %>
    <% if user_voice.errors.any? %>
      <div id="error_explanation">
        <h2> </h2>

        <ul>
          <li>言伝を残してください。</li>
        </ul>
      </div>
    <% end %>


    <div class="field">
       <%= form.label :comment, "言伝" %><br>
       <%= form.text_area :comment, id: :user_voice_comment, size: "50x5" %>
    </div>

    <div class="field">
      <%= form.label :satisfaction, "授業満足度" %>
      <label><%= form.radio_button :satisfaction, "--" , {:checked => true}%>--</label>
      <label><%= form.radio_button :satisfaction, "1" %>1</label>
      <label><%= form.radio_button :satisfaction, "2" %>2</label>
      <label><%= form.radio_button :satisfaction, "3" %>3</label>
      <label><%= form.radio_button :satisfaction, "4" %>4</label>
      <label><%= form.radio_button :satisfaction, "5" %>5</label>
      </div>

    <div class="actions">

    <div class="field">
      <%= form.label :easiness, "楽単度" %>
      <label><%= form.radio_button :easiness, "--" , {:checked => true}%>--</label>
      <label><%= form.radio_button :easiness, "1" %>1</label>
      <label><%= form.radio_button :easiness, "2" %>2</label>
      <label><%= form.radio_button :easiness, "3" %>3</label>
      <label><%= form.radio_button :easiness, "4" %>4</label>
      <label><%= form.radio_button :easiness, "5" %>5</label>
      </div>
    <div class="actions">

      <%= form.submit(["言伝を残す"]) %>
    </div>
  <% end %>
